.classJavaText a{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3b6978;
}
html{
    scroll-behavior: smooth;
}
.arrowScroll{
    text-align: center;
    position:relative;
    animation: 2s arrow infinite ease;
}
@keyframes arrow{
    0%, 100%{
        top:5px;
    }
    50%{
        top: -5px;
    }
}
.room{
    background-image: url(images/table.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
#test{
    box-sizing: content-box;
}
.classNav{  
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cards img{
    align-content: center;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
#side-menu{
    box-sizing: border-box;
    float: right;
    margin-top: 0;
    padding-top: 0;
    text-align: justify-all;
    background-color: beige;
}
.bottomBody{
    margin-top: -10px;
    background: url(images/triangles.png) no-repeat;
    background-size: 100%;    
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    text-align:center;
    padding-top: 50px;
    color: black;    
}
.bottomBody strong{
    text-align: center;
}
.bottomBody a{
    text-decoration: none;
    color: black;
}
.bottomBody a:hover{
    color:#3b6978;
}
.bottomBody img{
    padding-left: 100px;
}
.headBody{
    font-size: 40px;
    color: white;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(images/body.png) no-repeat;
    background-size:cover;
    z-index: 0; 
}
.headBody1{
    
}

ul li a:hover{
    border-bottom: 2px solid #16817a;
}
/*#navigation{
    display: inline;
}*/
#content{
    float: left;
   
}
#footer{
    margin-top: 10px;
    clear: both;
    background: url(images/footer.png) no-repeat;
    background-size: cover;
}
.classPadding{
    padding: 100px;
}
.classCenterSlick{
    text-align: center;
    
}
.classCenterSlick img{
    width: 80%;
}
#footer p{
    font-size: 14px;
    text-align: center;
}
.classImg{
    text-align: center;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.classMainTextic{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.classMainTextic1{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.headBody img{
     padding-bottom: 20px;
    padding-top: 20px;
}
#Contact{
    padding-top: 10px;
    float: left;
    text-align: left;
}
#down a:hover{
    color:#5094f2;
}
#Social{
    padding-top: 10px;
    float: right;
    text-align: right;
}
#Social a{
padding: 5px;
    text-decoration: none;
}
#down{
    text-align: center;
    align-content: center;
}
#down a{
    text-decoration: none;
    color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.transition{
    transition: all 0.7s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.transition:hover{
    transition: all 0.7s;
}
a:hover{
   transition: all 1s;
    color: #16817a;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.imgClass{
    height: 100%;
}
.center{
    text-align: center;
}
    .slider {
        width: 20%;
        
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }