#field {
  margin: 0 auto;
}

td {
  width: 30px;
  height: 30px;
  background-color: black;
position: relative;
  cursor: pointer;
  border: 1px solid black;
}
.classCenter{
    text-align: center;
    padding: 20px;
    font-family: DejaVu Sans Mono, monospace;
}
#down a:hover{
    color:#5094f2;
}
#down{
    text-align: center;
    align-content: center;
}
#down a{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
td:hover:after{
  content:'Видалити панель';
  position: absolute;
  left: 100%;
  top: -1em;
  z-index: 2;
  background: #fff;
  border: 1px solid red;
  color: red;
  width: max-content;
  padding: 3px;
}

td.empty:hover:after{
  content:'Вставити';
  position: absolute;
  left: 100%;
 top: -1em;
  z-index: 2;
  background: #fff;
  border: 1px solid red;
  color: green;
  width: max-content;
  padding: 3px;
}
 
.empty {
  background-color: white;
}